<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="css/design.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

            <ul>
              <li><a href="#home">
                <i class="fa fa-home" style="font-size:24px"></i>
              </a></li>
              <li style = "float:right;"><a href="#">
                  <i class="fa fa-cog" style="font-size:24px"></i>
              </a></li>
            </ul>

        <div id = "allDataDisplay" ></div>

        <script id = "links" type = "text/template">
            <button class ="button" onclick="window.location.href='<%= link %>'">
                <span>
                    <%= name %>
                </span>
            </button>
        </script>

        <script src = "js/libs/jquery-3.3.1.min.js"></script>
        <script src = "js/libs/underscore.js"></script>
        <script src = "js/libs/backbone.js"></script>
        <script src = "js/models/data.js"></script>
        <script src = "js/views/showData.js"></script>
        <script src = "js/views/showAllData.js"></script>
        <script src = "js/collections/allData.js"></script>
        <script src = "js/routes/router.js"></script>
        <script src = "js/welcomeApp.js"></script>

    </body>

</html>
